body {
    background-color: #e9e9e9;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;

}

h1 {
    font-weight: bold;
}

h2 {
    font-style: italic;
}
#cabecalho {
    text-align: center;
    background-color: #333333;
    color: #ffffff;
    width: 100%;
    padding: 40px;
}

.menu a {
    color: yellow;
}

#conteudo-principal {
    background-color: white;
    width: 600px;
    border: 5px solid #cccccc;
    padding: 30px;
    margin-left: 20px;
}

.postagem {
    background-color: #f4f4f4;
    padding: 15px;
}

#barra-lateral {
    background-color: #d1ecf1;
    width: 300px;
    padding: 20px;
    border: 2px dashed #17a2b8;
    margin-left: 20px;
    margin-top: 20px;
}

footer {
    background-color: #333333;
    color: white;
    padding: 20px;
    width: 100%;
}